<html>
    <head>
        <script src="https://fb.me/react-15.0.0.js"></script>
        <script src="https://fb.me/react-dom-15.0.0.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.0/lodash.min.js"></script>
            <html>
                    <head>
                        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
                        <script
                            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                        <script
                            src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.0/lodash.min.js"></script>
                        <script
                            src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
                        <script
                            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                            crossorigin="anonymous"></script>
                        <script
                            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                            crossorigin="anonymous"></script>
                        <link rel="stylesheet"
                            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
                            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
                            crossorigin="anonymous">
                        <script src="./javascripts/map.js"></script>
                        <style>
                        </style>
                    </head>
                    <body>
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#cars">cars</a></li>
                            <li class="active"><a data-toggle="tab" href="#locomotives">locomotive</a></li>
                        </ul>
                        <div class="tab-content" id="rosterApp">
                            <div id="cars" class="tab-pane fade in active">
                
                                <div class="card-columns"
                                    v-for="car in cars">
                                    <carsCard v-bind:carInfo=car></carsCard>
                                </div>
                                <button>add</button>
                            </div>
                            <div id="locomotives" class="tab-pane fade">
                                <div class="card-columns" v-for="locomotive in locomotives">
                                    <LocomotiveCard v-bind:locomotiveInfo=locomotive></LocomotiveCard>
                                </div>
                                <button>add</button>
                            </div>
                        </div>
                    </body>
                    <script>
                    Vue.component('carsCard',{
                        props:['cars'],
                        template:`<div class="card">
                            <div class="card-body">
                                <p class="card-text>{{cars.number}}</p>
                                <p class="card-text>{{cars.type}}</p>
                                <p class="card-text>{{cars.owner}}</p>
                            </div>
                            <div> class="card-footer"
                        </div>`,
                        methods:{
                        deleteCars:function(){
                            fetch(`/graphql?query=mutation{
                                deleteLocomotive(id:cars.id){
                                    id
                
                                }
                            }`).then(response=>{return response.json()}).then(data=>{
                
                            })
                        },
                        updateCars:function(){
                            fetch(`/graphql?query=mutation{
                                updateLocomotuve(
                                    id:cars.id
                                    number:locomotive.number
                                    type:locomotive.type
                                    owner:locomotive.owner
                
                                ){
                                    id
                                    number
                                    name
                                    owner
                                }
                            }`).then(response=>{return response.json()}).then(data=>{
                                var newCars=data["data"]["cars"]
                                this.cars.push({
                                    id:newCars.id,
                                    number:newCars.number,
                                    name:newCars.name,
                                    owner:newCars.owner
                                })
                            })
                        }
                    }
                    })
                    Vue.component('LocomotiveCard',{
                        props:['locomotive'],
                        template:`<div class="card">
                            <div class="card-body">
                                <p class="card-text>{{locomotive.number}}</p>
                                <p class="card-text>{{locomotive.type}}</p>
                                <p class="card-text>{{locomotive.owner}}</p>
                            </div>
                            <div> class="card-footer"
                                <a v-on:click= class="btn btn-primary"></a>
                            </div>        
                        </div>`,
                    methods:{
                        deleteLocomotive:function(){
                            fetch(`/graphql?query=mutation{
                                deleteLocomotive(id:locomotive.id){
                                    id
                                }
                            }`).then(response=>{return response.json()}).then(data=>{
                
                            })
                        },
                        updateLocomotive:function(){
                            fetch(`/graphql?query=mutation{
                                updateLocomotuve(
                                    id:locomotive.id
                                    number:locomotive.number
                                    type:locomotive.type
                                    owner:locomotive.owner
                
                                ){
                                    id
                                    number
                                    name
                                    owner
                                }
                            }`).then(response=>{return response.json()}).then(data=>{
                                var newLocomotive=data["data"]["locomotive"]
                                this.cars.push({
                                    id:newLocomotive.id,
                                    number:newLocomotive.number,
                                    name:newLocomotive.name,
                                    owner:newLocomotive.owner
                                })
                            })
                        }
                    }
                })
                
                    fetch(`./graphql?query={
                        locomotives:getLocomotives{
                            id
                            number
                            name
                            owner
                        }
                        cars:getCars{
                            id
                            number
                            name
                            owner
                        }
                        }`,{"method":"GET"}).then(response=>{return response.json()}).then(data=>{
                                    var cars=data["data"]["cars"]
                                    var locomotives=data["data"]["locomotives"]
                                    app=new VUE({
                                        el:"#rosterApp",
                                        data:{
                                            cars:cars,
                                            locomotives:locomotives
                                        },
                                        methods:{
                                            addLocomotive:function(){
                                                fetch(`/graphql?query=mutation{
                                createLocomotuve(
                                    id:locomotive.id
                                    number:locomotive.number
                                    type:locomotive.type
                                    owner:locomotive.owner
                
                                ){
                                    id
                                    number
                                    name
                                    owner
                                }
                            }`).then(response=>{return response.json()}).then(data=>{
                                var locomotives=data["data"]["locomotives"]
                                            this.locomotives.push({
                                    id:newLocomotive.id,
                                    number:newLocomotive.number,
                                    name:newLocomotive.name,
                                    owner:newLocomotive.owner
                                })
                                            });
                                            },
                                            addCar:function(){
                                                fetch(`/graphql?query=mutation{
                                createCar(
                                    id:locomotive.id
                                    number:locomotive.number
                                    type:locomotive.type
                                    owner:locomotive.owner
                
                                ){
                                    id
                                    number
                                    name
                                    owner
                                }
                            }`).then(response=>{return response.json()}).then(data=>{
                                var cars=data["data"]["cars"]
                                            this.locomotives.push({
                                    id:cars.id,
                                    number:cars.number,
                                    name:cars.name,
                                    owner:cars.owner
                                })
                                            });
                
                                            }
                                        }
                                    })
                
                    })
                    
                
                </script>
                </html>        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous">
        <style>
#map{

    border: solid black 5px;
    width: 300%;
    height:50%;
}
#addNewLine{
    border: solid lightgray 6px;
    height:50%
}
.railLineColumn{
    border: solid red 3px;
    float: left;
    overflow-y: scroll;
}
.lines{
    overflow-x: scroll;
}
</style>
<script type="text/babel">
        var app=(
            <div id="map" class="tab-pane fade in active">

            </div>
            <div id="lines" class="tab-pane fade">
                <div v-for="line in lines">
                    <railline v-bind:lineinfo=line></railline>


                </div>
                <button class="btn btn-primary"
                    v-on:click="showAddNewLineModal">add
                    new line</button>
                    )
    ReactDOM.render("#mapApp",app)
</script>
    </head>
    <body>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#map">map</a></li>
            <li><a data-toggle="tab" href="#lines">lines</a></li>
        </ul>
        <div class="modal" id="addLineModal">
            <div class="moal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Line</h4>
                        <button type="button" class="close"
                            data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <label for="newLineName"> line name</label>
                        <input id="newLineName" name="newLineName"
                            v-model="lineName" />
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                            c-on:click="">Save changes</button>
                        <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="mapApp" class="tab-content">


            </div>
        </div>
    </body>
</html>