<html>
    <head>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.0/lodash.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous">
        <script src="./javascripts/roster.js"></script>
        <style>
        </style>
    </head>
    <body>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#cars">cars</a></li>
            <li class="active"><a data-toggle="tab" href="#locomotives">locomotive</a></li>
        </ul>
        <div class="tab-content" id="rosterApp">
            <div class="tab-pane fade in active">

                <div class="card-columns" id="cars">
                </div>
                <button>add</button>
            </div>
            <div  class="tab-pane fade">
                <div id="locomotives" class="card-columns">
                
                </div>
                <button>add</button>
            </div>
        </div>
    </body>
    <script>
        $(document).ready({
            loadPage()
        })
    Vue.component('carsCard',{
        props:['cars'],
        template:`<div class="card">
            <div class="card-body">
                <p class="card-text>{{cars.number}}</p>
                <p class="card-text>{{cars.type}}</p>
                <p class="card-text>{{cars.owner}}</p>
            </div>
            <div> class="card-footer"
        </div>`,
        methods:{
        deleteCars:function(){
            fetch(`/graphql?query=mutation{
                deleteLocomotive(id:cars.id){
                    id

                }
            }`).then(response=>{return response.json()}).then(data=>{

            })
        },
        updateCars:function(){
            fetch(`/graphql?query=mutation{
                updateLocomotuve(
                    id:cars.id
                    number:locomotive.number
                    type:locomotive.type
                    owner:locomotive.owner

                ){
                    id
                    number
                    name
                    owner
                }
            }`).then(response=>{return response.json()}).then(data=>{
                var newCars=data["data"]["cars"]
                this.cars.push({
                    id:newCars.id,
                    number:newCars.number,
                    name:newCars.name,
                    owner:newCars.owner
                })
            })
        }
    }
    })
    Vue.component('LocomotiveCard',{
        props:['locomotive'],
        template:`<div class="card">
            <div class="card-body">
                <p class="card-text>{{locomotive.number}}</p>
                <p class="card-text>{{locomotive.type}}</p>
                <p class="card-text>{{locomotive.owner}}</p>
            </div>
            <div> class="card-footer"
                <a v-on:click= class="btn btn-primary"></a>
            </div>        
        </div>`,
    methods:{
        deleteLocomotive:function(){
            fetch(`/graphql?query=mutation{
                deleteLocomotive(id:locomotive.id){
                    id
                }
            }`).then(response=>{return response.json()}).then(data=>{

            })
        },
        updateLocomotive:function(){
            fetch(`/graphql?query=mutation{
                updateLocomotuve(
                    id:locomotive.id
                    number:locomotive.number
                    type:locomotive.type
                    owner:locomotive.owner

                ){
                    id
                    number
                    name
                    owner
                }
            }`).then(response=>{return response.json()}).then(data=>{
                var newLocomotive=data["data"]["locomotive"]
                this.cars.push({
                    id:newLocomotive.id,
                    number:newLocomotive.number,
                    name:newLocomotive.name,
                    owner:newLocomotive.owner
                })
            })
        }
    }
})

                    app=new VUE({
                        el:"#rosterApp",
                        data:{
                            cars:cars,
                            locomotives:locomotives
                        },
                        methods:{
                            addLocomotive:function(){
                                fetch(`/graphql?query=mutation{
                createLocomotuve(
                    id:locomotive.id
                    number:locomotive.number
                    type:locomotive.type
                    owner:locomotive.owner

                ){
                    id
                    number
                    name
                    owner
                }
            }`).then(response=>{return response.json()}).then(data=>{
                var locomotives=data["data"]["locomotives"]
                            this.locomotives.push({
                    id:newLocomotive.id,
                    number:newLocomotive.number,
                    name:newLocomotive.name,
                    owner:newLocomotive.owner
                })
                            });
                            },
                            addCar:function(){
                                fetch(`/graphql?query=mutation{
                createCar(
                    id:locomotive.id
                    number:locomotive.number
                    type:locomotive.type
                    owner:locomotive.owner

                ){
                    id
                    number
                    name
                    owner
                }
            }`).then(response=>{return response.json()}).then(data=>{
                var cars=data["data"]["cars"]
                            this.locomotives.push({
                    id:cars.id,
                    number:cars.number,
                    name:cars.name,
                    owner:cars.owner
                })
                            });

                            }
                        }
                    })

    })
    

</script>
</html>