<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.0/lodash.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous">
        <script src="./javascripts/map.js"></script>
        <style>
        </style>
    </head>
    <body>
        <div id="timetables">
            <div v-for="line in lines">
                {{line.name}}
                <table>
                    <thead>
                        <thead>station</thead>
                    </thead>
                    <tbody v-for="location in line.locations">
                        <td>{{location.name}}</td>
                    </tbody>
                </table>

            </div>
        </div>
    </body>
    <script>

    fetch(`./graphql?query={
        lines:getLines{
    name
    locations{
      name
    }
  }

        }`,{"method":"GET"}).then(response=>{return response.json()}).then(data=>{
                    var lines=data["data"]["lines"]
                    app=new VUE({
                        el:"#timetables",
                        data:{
                            lines:cars,
                        },    
                    })
        })
</script>
</html>